# Ejemplo de variables de entorno
# Copia este archivo como .env y completa con tus valores reales

PORT=3000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=YourApp
